/* styles.scss */

ul {
  padding-left: 0;
}
li {
  display: block;
  list-style: none;
  margin-block-start: 10px;
}

button {
  display: inline-block;
  background: rgb(235, 50, 50);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}
